@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


body{
    margin-top: 3rem;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #343837;
    color: #03719C;
}